[package]
name = "python-omfiles"
version = "1.0.1"
edition = "2021"
description = "Python bindings for the rust omfiles library"
license = "GPL-2.0-only"
repository = "https://github.com/open-meteo/python-omfiles"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "omfiles"
crate-type = ["cdylib", "rlib"]

[[bin]]
name = "stub_gen"
path = "src/bin/stub_gen.rs"
doc = true

[dependencies]
pyo3 = { version = "0.27", features = ["abi3-py39", "experimental-async"] }
pyo3-async-runtimes = { version = "0.27", features = ["async-std-runtime"] }
pyo3-stub-gen = "0.12"
async-lock = "3.4.2"
numpy = "0.27"
num-traits = "0.2"
delegate = "0.13"
omfiles-rs = { git = "https://github.com/open-meteo/rust-omfiles", rev = "7e9860c489bc12375ed4d6f527a682f3adf4abf7", package = "omfiles", features = ["metadata-tree"] }
om-file-format-sys = { git = "https://github.com/open-meteo/om-file-format", rev = "4de07b5669d41c5ce6269a71a15767a1bf0b3ec2" }
thiserror = "2.0.17"

[features]
